<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinxidu.xxd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo11"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.HotTradeActivity" />
        <activity android:name=".activity.HotActivity" />
        <activity android:name=".activity.BroadcastNewsActivity" />
        <activity android:name=".activity.FinanceCalendarActivity" />
        <activity android:name=".activity.AboutXiDuActivity" />
        <activity android:name=".activity.AboutXiDuDetailActivity" />
        <activity android:name=".activity.MyShiPanAccountActivity" />
        <activity android:name=".activity.AccountInfoActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterBasicActivity" />
        <activity android:name=".activity.AtionMessageActivity" />
        <activity android:name=".activity.TodayAdjustListActivity" />
        <activity android:name=".activity.TodayDecideListActivity" />
        <activity android:name=".activity.LiveRoomActivity" />
        <activity android:name=".activity.DayInvestmentActivity" />
        <activity android:name=".activity.ProfitSkillActivity"/>
        <activity android:name=".activity.OrderHistoryAdjustActivity"/>
        <activity android:name=".activity.OrderHistoryActivity"/>
        <activity android:name=".activity.ElectricTradeActivity"/>
        <activity android:name=".activity.TeacherTeamActivity"/>
        <activity android:name=".activity.XiduNewsActivity"/>
        <activity android:name=".activity.DayInvestmentDetailActivity"/>
    </application>

</manifest>