<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinxidu.xxd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- android:theme="@style/Theme.AppCompat.NoActionBar"> -->
    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".activity.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.HotTradeActivity" />
        <activity android:name=".activity.HotActivity" />
        <activity android:name=".activity.BroadcastNewsActivity" />
        <activity android:name=".activity.FinanceCalendarActivity" />
        <activity android:name=".activity.MyShiPanAccountActivity" />
        <activity android:name=".activity.AccountInfoActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterBasicActivity" />
        <activity android:name=".activity.AtionMessageActivity" />
        <activity android:name=".activity.TodayAdjustListActivity" />
        <activity android:name=".activity.TodayDecideListActivity" />
        <activity android:name=".activity.LiveRoomActivity" />
        <activity android:name=".activity.DayInvestmentActivity" />
        <activity android:name=".activity.ProfitSkillActivity" />
        <activity android:name=".activity.OrderHistoryAdjustActivity" />
        <activity android:name=".activity.OrderHistoryActivity" />
        <activity android:name=".activity.ElectricTradeActivity" />
        <activity android:name=".activity.TeacherTeamActivity" />
        <activity android:name=".activity.DayInvestmentDetailActivity" />
        <activity
            android:name=".activity.HuaTongLoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.AboutXXiDuActivity" />
        <activity android:name=".activity.XiduNewsDetailActivity" />
        <activity android:name=".activity.RegisterActivity2" />
        <activity android:name=".activity.BackPassActivity" />
        <activity android:name=".activity.BackPassActivity2" />
        <activity android:name=".activity.MyAccountInfoActivity" />
        <activity android:name=".activity.LiveTelecastURLActivity" />
        <activity android:name=".activity.TeacherTeamActivity1" />
        <activity android:name=".activity.CollectionActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.UserFeedbackActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.TeacherDetailsActivity" />
        <activity android:name=".activity.HuaTongRegisterActivity" />
        <activity android:name=".activity.ProfitSkillDetailActivity"></activity>
    </application>

</manifest>